body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

/* parent */
#main-div
{
    max-width: 1000px;
    letter-spacing: 0.5px;
    margin: 0 auto;
}

/* Header */
#mypage-header{
    min-height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 3, 3);
}

/* center content */
#mypage-body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(251, 248, 248);
    padding: 20px 20px 20px 10px;
}
.mypage-content{
    display: flex;
    flex-wrap: wrap;
}
.mypage-leftnav{
    border-right: green solid 1px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.mypage-center-content{
    border-left: orange solid 1px;
    flex: 3;
    display: flex;
    align-items: center;
    line-height: 1.6;
    padding-left: 3px;
}
.leftnav-names{
    text-align: center;
    color: rgb(145, 3, 3);
}
.center-content-headers{
    color: rgb(145, 3, 3);   
}
.center-content{
    padding-left: 25px;
}

/* Footer */
#mypage-footer{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: white;
    background-color: rgb(145, 3, 3);
}
#footer-title{
    font-weight: 600;
    font-size: large;
    margin-top: 12px;
}
#footer-body{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-content{
    display: flex;
    gap: 15px;
}

/* This is from small screan view */
@media (max-width: 576px) {
    /* header */
    #header-name{
        font-size: 26px;
    }

    /* center content */
    .mypage-content{
        flex-direction: column;
    }
    .mypage-center-content{
        border-left: none;
        font-size: small;
    }
    .mypage-leftnav{
        border-right: none;
    }
    .leftnav-names{
        font-size: 20px;
    }
    .center-content-headers{
        font-size: 15px;
        color: rgb(145, 3, 3);   
    }
}
